@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700;800&family=Nunito:wght@400;500;600;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    /* font-family: "Poppins", sans-serif; */
    font-family: 'Nunito', sans-serif;
    /* background-color:#12486B; */
    background-color: #d1f4eb;
     /* background-color: #395B64; */
}

.wrapper{
  width:90%;
  margin:0 auto;
  display:flex;
   align-items: center;
  flex-direction: column;
  justify-content: center;
  
}

h1{
  

  width:max-content;
  text-align: center;
  margin-top:3rem;
  margin-bottom:4rem;
  font-size:3.5rem;
  font-weight: 800;
  /* color:aliceblue; */
  color:#2C3333;
  text-shadow:1px 1px 8px #395B64;
  padding:1rem;
  
}

.cards{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  gap:3%;
}
.card-container{
  /* width:30%; */
  max-width: 400px;
  padding:1rem;
  /* background-color: #F5FCCD; */
  background-color: #395B64;
  color:white;
  margin-bottom:4rem;
  border-radius:0.6rem;
  display:flex;
  flex-direction: column;
 
}

.card-container img{
  width:100%;
  border-radius:0.6rem;
  aspect-ratio: 1/1;
  object-fit: cover;
    
}
.card-items{
  display:flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex:1;
}
.name{
  color:#FEB139;
  font-size:1.75rem;
  font-weight:600;
  padding-top:1rem;
  padding-bottom:1rem;
  
}
.card-items p{
  font-family:"Poppins", sans-serif; ;
}
.buttons{
  display:flex;
  flex:1;
  /* justify-content:space-between; */
  align-items:flex-end;
  margin-top:1rem;
  margin-bottom:1.5rem;
  gap:1rem;
}
button{
  
  font-weight: 500;
  height:3rem;
  background-color: #FEB139;
  border:none;
  
  color:#0e3257;
  border-radius: 0.6rem;
  flex:1;
  /* margin-right:2rem; */
  font-size: 1rem;
  cursor:pointer;
}
button:hover{
  background-color:#ff9f04;
  color:white;
}

@media(max-width:500px)
{
  h1{
    max-width: 350px;
  }
}

.refresh-container{

  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.refresh{
  padding:4rem;
  background-color: #395B64;
  border-radius:0.6rem;
  color:white;
  box-shadow: 1px 1px 1rem #0e3257;
}
.refresh-btn{
  padding:1rem 3rem;
  margin-top:1rem;
  color:white;
}


/* new functionality adding */
.travel-now{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #256D85;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  scale:0;
  /* z-index: 5; */
}
.travel-now.active{
  scale:1;
}
.travel-contents{
  padding:4rem;
  background-color: #d7f4ec;
  border-radius:0.7rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}
.travel-contents h2{
  font-size: 3.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight:800;
  margin-bottom:1rem;
}
.joy{
  font-size:2rem;
  max-width:500px;
  align-self: flex-start;

}
.joy1{
  font-size:1.5rem;
  align-self: flex-start;
}
.pack{
  font-size:1.5rem;
  align-self: flex-start;
}
.cancel{
  padding:1rem 2rem;
  font-size: larger;
  margin-top:1rem;
}

@media (max-width:600px)
{
  .travel-contents{
    width:90%;
    padding:2rem;

  }
  .travel-contents h2{
    font-size:2.5rem;
  }
  .travel-contents p{
    font-size:1.5rem;
  }
}